<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="log\internal.txt">


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File log -->
    <target xsi:type="File"
				name="carParkApp"
				archiveEvery="Day"
				archiveFileName = "log\${date:format=yyyy-MM}\{#}.log"
				archiveNumbering = "DateAndSequence"
				archiveAboveSize="524288000"
				maxArchiveDays="7"
				archiveDateFormat = "yyyyMMdd"
				fileName="log\log.log"
				layout="[${level:uppercase=true}] ${longdate} |${aspnet-sessionid}| ${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="API" minlevel="Debug" writeTo="carParkApp" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Debug" writeTo="carParkApp" />

  </rules>
</nlog>